<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar', {email: email}); %>
    <h1>Felicitaciones, pedido aprobado!</h1>
    <%- include('../partials/footer'); %>
  </body>
</html>
