<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      setTimeout(function () {
        window.location = "/signup";
      }, 3000);
    </script>
    <title>Registro fallido</title>
  </head>
  <body style="margin: 0px">
    <h1>
      Hubo un problema con tu registro, es posible que ya exista un usuario con
      ese nombre, de igual manera comprueba que el email sea válido y las
      contraseñas coincidan.
    </h1>
  </body>
</html>
