<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Login</title>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar', {email: email}); %>
    <form action="/login" method="post">
      <div class="container">
         <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Ingrese Email" name="email" required />
        <label for="password"><b>Contraseña</b></label>
        <input
          type="password"
          placeholder="Ingrese Contraseña"
          name="password"
          required
        />
        <button type="submit">Login</button>
        <p>¿No tenés una cuenta? <a href="/signup">Registrate</a>.</p>
    </form>
    <%- include('../partials/footer'); %>
  </body>
</html>
