<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Registrarse</title>
  </head>
  <body style="margin: 0px">
    <%- include('../partials/navbar', {email: email}); %>
    <form action="/signup" method="post">
      <div class="container">
        <h1>Registrarse</h1>
        <p>Por favor rellena este formulario para crear una cuenta.</p>
        <hr />
        <label for="email"><b>Dirección de Email</b></label>
        <input
          type="text"
          placeholder="Ingresa tu Email"
          name="email"
          id="email"
          required
        />
        <label for="password"><b>Contraseña</b></label>
        <input
          type="password"
          placeholder="Ingresar Contraseña"
          name="password"
          id="password"
          required
        />
        <label for="passwordRepeat"><b>Repetir Contraseña</b></label>
        <input
          type="password"
          placeholder="Repetir Contraseña"
          name="passwordRepeat"
          id="passwordRepeat"
          required
        />
        <hr />
        <p>
          Creando una cuenta aceptas nuestros
          <a href="#">Términos & Privacidad</a>.
        </p>
        <button type="submit" class="registerbtn">Registrar</button>
      </div>
      <div class="container signin">
        <p>¿Ya tenés una cuenta? <a href="/login">Ingresar</a>.</p>
      </div>
    </form>
    <%- include('../partials/footer'); %>
  </body>
</html>
